<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>路径同步</string>
    <key>CFBundleDisplayName</key><string>路径同步</string>
    <key>CFBundleIdentifier</key><string>com.ensom.ResearchSync</string>
    <key>CFBundleExecutable</key><string>ResearchSync</string>
    <key>CFBundleIconFile</key><string>ResearchSync.icns</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>2.3.0</string>
    <key>CFBundleVersion</key><string>5</string>
    <key>CFBundleLocalizations</key><array><string>en</string><string>zh-Hans</string></array>
    <key>NSHumanReadableCopyright</key><string>© 2026 ensomnia16</string>
    <key>LSMinimumSystemVersion</key><string>13.0</string>
    <key>NSHighResolutionCapable</key><true/>
</dict>
</plist>
